<%- include('header'); -%>
<div class="container">
    <div class="profile">
        <div class="img"></div>
        
        <h2><%= user.name %></h2>
        <span><%= user.email %></span>
        <div class="link"><a href="./change">Edit Profile</a></div><br>
        <a href="/logout">Log Out</a>
    </div>
</div>
<%- include('footer'); -%>